
.navbar {
  background-color: #dcd9ee;
  color: #171044;
  padding: 30px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.navbar-content {
  display: flex;
  align-items: center;
}

.image {
  width: 40px;
  height:40px;
  margin-right: 10px;

}

.Signature-nav {

  margin-left: 20px;
  font-weight: 400;
  font-family: "Recoleta", serif;
  font-size: 42px;
  line-height: 48px;
  text-align: left;
}
.add-signature-btn {
  background-color: #171044;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

.table_tabs {
  text-align: right;
  padding: 10px;
  height: 39px;
  position: relative;
}
.table_tabs a.tab.current {
  --tw-bg-opacity: 1;
  background-color: rgb(206 212 218 / var(--tw-bg-opacity));
}

.table_tabs a.tab {
  width: 100px;
  font-size: 13px;
  display: inline-block;
  padding: 10px 0 10px 0;
  background: #ffffff;
  text-align: center;
  color: #333;

  border: 1px solid #d1d1d2;
  border-top-color: rgb(209, 209, 210);
  border-right-color: rgb(209, 209, 210);
  border-bottom-color: rgb(209, 209, 210);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(209, 209, 210);
  border-bottom: 0;
  margin-right: 10px;
  border-bottom-color: currentcolor;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}


#desk table.eversign.signatures_initials td.image img {

  height: 60px;

}
/* Style for the signature table */
.signature-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.signature-table td {
  border-top: 1px solid #ccc;

  padding: 10px;
  text-align: center;
}

.signature-table{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-left: 30px;
  margin-right: -5000px;
  width:95%;
}
.signature-image img {
  max-width: 200px;
  max-height: 200px;
}



.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.make-default-btn {
  color: #171044;
  border: none;
  font-size: 13px;
  padding: 8px 10px;
  background: #e8e8e9;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 80%;

}

.dropdown-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-left: 1px;
  margin-right: 20px;
}

.dropdown-icon::after {
  content: "▼";
  font-size: 12px;

}
.image-signature{
  margin-left: -100px;

}
